/prog/cancer-evolution/.vscode/launch.json
/prog/cancer-evolution/.vscode/settings.json
/prog/cancer-evolution/__pycache__/collection_helpers.cpython-310.pyc
/prog/cancer-evolution/__pycache__/collection_helpers.cpython-35.pyc
/prog/cancer-evolution/__pycache__/command_line.cpython-310.pyc
/prog/cancer-evolution/__pycache__/command_line.cpython-35.pyc
/prog/cancer-evolution/__pycache__/dollo_node.cpython-35.pyc
/prog/cancer-evolution/__pycache__/dollo_node_crossover_operators.cpython-35.pyc
/prog/cancer-evolution/__pycache__/dollo_node_evaluation_likelihood.cpython-35.pyc
/prog/cancer-evolution/__pycache__/dollo_node_evaluation_operators.cpython-35.pyc
/prog/cancer-evolution/__pycache__/dollo_node_helpers.cpython-35.pyc
/prog/cancer-evolution/__pycache__/dollo_node_initialization_operators.cpython-35.pyc
/prog/cancer-evolution/__pycache__/dollo_node_mutation_operators.cpython-35.pyc
/prog/cancer-evolution/__pycache__/dollo_node_operators.cpython-35.pyc
/prog/cancer-evolution/__pycache__/ea_node.cpython-310.pyc
/prog/cancer-evolution/__pycache__/ea_node.cpython-35.pyc
/prog/cancer-evolution/__pycache__/ea_node_operators.cpython-310.pyc
/prog/cancer-evolution/__pycache__/ea_node_operators.cpython-35.pyc
/prog/cancer-evolution/__pycache__/ga_node.cpython-35.pyc
/prog/cancer-evolution/__pycache__/ga_node_operators.cpython-35.pyc
/prog/cancer-evolution/__pycache__/likelihood.cpython-310.pyc
/prog/cancer-evolution/__pycache__/read_element.cpython-310.pyc
/prog/cancer-evolution/__pycache__/read_element.cpython-35.pyc
/prog/cancer-evolution/__pycache__/read_input.cpython-310.pyc
/prog/cancer-evolution/__pycache__/read_input.cpython-35.pyc
/prog/cancer-evolution/logs/run_2023_02_19_10_16_55.500100.log
/prog/cancer-evolution/logs/run_2023_02_19_12_27_11.233053.log
/prog/cancer-evolution/logs/run_2023_02_19_12_31_11.995387.log
/prog/cancer-evolution/logs/run_2023_02_19_12_36_06.138588.log
/prog/cancer-evolution/logs/run_2023_02_19_12_36_42.121959.log
/prog/cancer-evolution/logs/run_2023_02_19_12_39_52.035605.log
/prog/cancer-evolution/logs/run_2023_02_19_12_40_15.475311.log
/prog/cancer-evolution/logs/run_2023_02_19_12_40_56.684031.log
/prog/cancer-evolution/logs/run_2023_02_19_12_41_07.791143.log
/prog/cancer-evolution/logs/run_2023_02_19_12_42_31.731533.log
/prog/cancer-evolution/logs/run_2023_02_19_12_47_37.048567.log
/prog/cancer-evolution/logs/run_2023_02_19_12_48_51.488066.log
/prog/cancer-evolution/logs/run_2023_02_19_12_52_19.589893.log
/prog/cancer-evolution/logs/run_2023_02_19_13_09_40.073105.log
/prog/cancer-evolution/logs/run_2023_02_19_13_12_08.223136.log
/prog/cancer-evolution/logs/run_2023_02_19_13_13_31.463458.log
/prog/cancer-evolution/logs/run_2023_02_19_13_14_17.931791.log
/prog/cancer-evolution/logs/run_2023_02_19_13_17_12.659887.log
/prog/cancer-evolution/logs/run_2023_02_19_13_18_47.860632.log
/prog/cancer-evolution/logs/run_2023_02_19_13_19_09.961209.log
/prog/cancer-evolution/logs/run_2023_02_19_13_19_15.389733.log
/prog/cancer-evolution/logs/run_2023_02_19_13_20_25.602577.log
/prog/cancer-evolution/logs/run_2023_03_25_14_24_24.489003.log
/prog/cancer-evolution/logs/run_2023_03_25_14_27_22.199498.log
/prog/cancer-evolution/logs/run_2023_03_25_14_28_42.513343.log
/prog/cancer-evolution/logs/run_2023_03_25_14_29_48.841983.log
/prog/cancer-evolution/logs/run_2023_03_25_14_30_08.999993.log
/prog/cancer-evolution/logs/run_2023_03_25_14_31_58.331290.log
/prog/cancer-evolution/logs/run_2023_03_25_16_53_29.553080.log
/prog/cancer-evolution/logs/run_2023_03_25_16_56_39.317519.log
/prog/cancer-evolution/logs/run_2023_03_25_16_56_50.174370.log
/prog/cancer-evolution/logs/run_2023_03_25_16_57_37.405360.log
/prog/cancer-evolution/logs/run_2023_03_25_16_58_35.522244.log
/prog/cancer-evolution/logs/run_2023_03_25_17_14_55.118192.log
/prog/cancer-evolution/logs/run_2023_03_25_17_15_13.056051.log
/prog/cancer-evolution/logs/run_2023_03_25_17_17_01.305014.log
/prog/cancer-evolution/logs/run_2023_03_25_17_18_13.978901.log
/prog/cancer-evolution/logs/run_2023_03_25_17_21_27.864878.log
/prog/cancer-evolution/logs/run_2023_03_25_18_19_13.495824.log
/prog/cancer-evolution/logs/run_2023_03_25_19_36_26.275436.log
journals/mdpi-algorithms-2023/prog/.vscode/launch.json
journals/mdpi-algorithms-2023/prog/.vscode/settings.json
journals/mdpi-algorithms-2023/prog/__pycache__/collection_helpers.cpython-310.pyc
journals/mdpi-algorithms-2023/prog/__pycache__/collection_helpers.cpython-35.pyc
journals/mdpi-algorithms-2023/prog/__pycache__/command_line.cpython-310.pyc
journals/mdpi-algorithms-2023/prog/__pycache__/command_line.cpython-35.pyc
journals/mdpi-algorithms-2023/prog/__pycache__/dollo_node.cpython-35.pyc
journals/mdpi-algorithms-2023/prog/__pycache__/dollo_node_crossover_operators.cpython-35.pyc
journals/mdpi-algorithms-2023/prog/__pycache__/dollo_node_evaluation_likelihood.cpython-35.pyc
journals/mdpi-algorithms-2023/prog/__pycache__/dollo_node_evaluation_operators.cpython-35.pyc
journals/mdpi-algorithms-2023/prog/__pycache__/dollo_node_helpers.cpython-35.pyc
journals/mdpi-algorithms-2023/prog/__pycache__/dollo_node_initialization_operators.cpython-35.pyc
journals/mdpi-algorithms-2023/prog/__pycache__/dollo_node_mutation_operators.cpython-35.pyc
journals/mdpi-algorithms-2023/prog/__pycache__/dollo_node_operators.cpython-35.pyc
journals/mdpi-algorithms-2023/prog/__pycache__/ea_node.cpython-310.pyc
journals/mdpi-algorithms-2023/prog/__pycache__/ea_node.cpython-35.pyc
journals/mdpi-algorithms-2023/prog/__pycache__/ea_node_operators.cpython-310.pyc
journals/mdpi-algorithms-2023/prog/__pycache__/ea_node_operators.cpython-35.pyc
journals/mdpi-algorithms-2023/prog/__pycache__/ga_node.cpython-35.pyc
journals/mdpi-algorithms-2023/prog/__pycache__/ga_node_operators.cpython-35.pyc
journals/mdpi-algorithms-2023/prog/__pycache__/likelihood.cpython-310.pyc
journals/mdpi-algorithms-2023/prog/__pycache__/read_element.cpython-310.pyc
journals/mdpi-algorithms-2023/prog/__pycache__/read_element.cpython-35.pyc
journals/mdpi-algorithms-2023/prog/__pycache__/read_input.cpython-310.pyc
journals/mdpi-algorithms-2023/prog/__pycache__/read_input.cpython-35.pyc
journals/mdpi-algorithms-2023/prog/logs/run_2023_02_19_10_16_55.500100.log
journals/mdpi-algorithms-2023/prog/logs/run_2023_02_19_12_27_11.233053.log
journals/mdpi-algorithms-2023/prog/logs/run_2023_02_19_12_31_11.995387.log
journals/mdpi-algorithms-2023/prog/logs/run_2023_02_19_12_36_06.138588.log
journals/mdpi-algorithms-2023/prog/logs/run_2023_02_19_12_36_42.121959.log
journals/mdpi-algorithms-2023/prog/logs/run_2023_02_19_12_39_52.035605.log
journals/mdpi-algorithms-2023/prog/logs/run_2023_02_19_12_40_15.475311.log
journals/mdpi-algorithms-2023/prog/logs/run_2023_02_19_12_40_56.684031.log
journals/mdpi-algorithms-2023/prog/logs/run_2023_02_19_12_41_07.791143.log
journals/mdpi-algorithms-2023/prog/logs/run_2023_02_19_12_42_31.731533.log
journals/mdpi-algorithms-2023/prog/logs/run_2023_02_19_12_47_37.048567.log
journals/mdpi-algorithms-2023/prog/logs/run_2023_02_19_12_48_51.488066.log
journals/mdpi-algorithms-2023/prog/logs/run_2023_02_19_12_52_19.589893.log
journals/mdpi-algorithms-2023/prog/logs/run_2023_02_19_13_09_40.073105.log
journals/mdpi-algorithms-2023/prog/logs/run_2023_02_19_13_12_08.223136.log
journals/mdpi-algorithms-2023/prog/logs/run_2023_02_19_13_13_31.463458.log
journals/mdpi-algorithms-2023/prog/logs/run_2023_02_19_13_14_17.931791.log
journals/mdpi-algorithms-2023/prog/logs/run_2023_02_19_13_17_12.659887.log
journals/mdpi-algorithms-2023/prog/logs/run_2023_02_19_13_18_47.860632.log
journals/mdpi-algorithms-2023/prog/logs/run_2023_02_19_13_19_09.961209.log
journals/mdpi-algorithms-2023/prog/logs/run_2023_02_19_13_19_15.389733.log
journals/mdpi-algorithms-2023/prog/logs/run_2023_02_19_13_20_25.602577.log
journals/mdpi-algorithms-2023/prog/logs/run_2023_03_25_14_24_24.489003.log
journals/mdpi-algorithms-2023/prog/logs/run_2023_03_25_14_27_22.199498.log
journals/mdpi-algorithms-2023/prog/logs/run_2023_03_25_14_28_42.513343.log
journals/mdpi-algorithms-2023/prog/logs/run_2023_03_25_14_29_48.841983.log
journals/mdpi-algorithms-2023/prog/logs/run_2023_03_25_14_30_08.999993.log
journals/mdpi-algorithms-2023/prog/logs/run_2023_03_25_14_31_58.331290.log
journals/mdpi-algorithms-2023/prog/logs/run_2023_03_25_16_53_29.553080.log
journals/mdpi-algorithms-2023/prog/logs/run_2023_03_25_16_56_39.317519.log
journals/mdpi-algorithms-2023/prog/logs/run_2023_03_25_16_56_50.174370.log
journals/mdpi-algorithms-2023/prog/logs/run_2023_03_25_16_57_37.405360.log
journals/mdpi-algorithms-2023/prog/logs/run_2023_03_25_16_58_35.522244.log
journals/mdpi-algorithms-2023/prog/logs/run_2023_03_25_17_14_55.118192.log
journals/mdpi-algorithms-2023/prog/logs/run_2023_03_25_17_15_13.056051.log
journals/mdpi-algorithms-2023/prog/logs/run_2023_03_25_17_17_01.305014.log
journals/mdpi-algorithms-2023/prog/logs/run_2023_03_25_17_18_13.978901.log
journals/mdpi-algorithms-2023/prog/logs/run_2023_03_25_17_21_27.864878.log
journals/mdpi-algorithms-2023/prog/logs/run_2023_03_25_18_19_13.495824.log
journals/mdpi-algorithms-2023/prog/logs/run_2023_03_25_19_36_26.275436.log
journals/mdpi-algorithms-2023/prog/sample.txt
